
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #gridContainer {
        height: auto;
        width: 100%;
    }
</style>

<h2>Categories</h2>

<div id="gridContainer" dx-data-grid="dataGridOptions"></div>
