
@{
    ViewBag.Title = "Tournaments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Tournaments</h2>

<style>
    #gridContainer {
        height: auto;
        width: 100%;
    }
</style>

<div id="gridContainer" dx-data-grid="dataGridOptions"></div>
